# Archivos temporales de pnpm y npm que no se deben subir al repositorio

# Por motivos de fuerza mayor,
# se incluyen los archivos de configuración de pnpm y npm para evitar conflictos 
# entre desarrolladores e instalación de dependencias locales en cada cliente.

pnpm-workspace.yaml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Variables de entorno
*.env